* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #889996;
  font-family: sans-serif;
}

.list_of_products {
  display: flex;
  justify-content: center;
  flex-wrap:wrap-reverse;
}

.one_product_card {
  max-width: 604px;
  overflow: hidden;
  /* max-height: 500px; */
  border: 2px solid rgb(236, 236, 236);
  /* padding: 10px; */
  margin: 20px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #b1b9b9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 500ms;
}

.one_product_card:hover {
  border: 2px solid orange;
  background-color: rgb(212, 184, 131);
  transition: 500ms;
}

.one_product_card:hover p {
  color: black;
  transition: 500ms;
}

img {
  width: 600px;
  max-height: 400px;
  min-height: 400px;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.8;
  border: 4px solid black;
  filter: grayscale(100%);
  transition: 3000ms;

  /* border-bottom: 2px solid white; */
  /* border-radius: 10px; */
}

.one_product_card:hover img {
  opacity: 1;
  filter: none;
  transition: 500ms;
}

.name {
  font-size: 1.2em;
  font-weight: 700;
  display: flex;
  transform: translate(10px, 10px);
}

.price {
  font-size: 1em;
}

p {
  font-size: 0.8em;
  color: #555;
  text-align: center;
  /* justify-content: end; */
  transition: 500ms;
  border: 2px solid black;
  /* border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px; */
  padding: 20px;
  line-height: 2em;
  /* margin: 20px; */
  background-color: #fff;
  opacity: 0.1;
  transform: translateY(-200px);
}

.one_product_card:hover p {
  opacity: 1;
  transform: translateY(0px);
}



/* Over 1600px
@media only screen and (min-width: 1600px) {
  .list_of_products {
    display: flex;
    flex-wrap: wrap;
  }

  .one_product_card {
    max-width: 600px;
    justify-items: baseline;
  }
}


/* Between 700px and 1200px */
/* @media only screen and (max-width: 1200px) {
  .list_of_products {
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (max-width: 700px) {
  .list_of_products {
    grid-template-columns: 1fr;
  }
} */